@charset "UTF-8";

#goodsDetailDiv{
	margin: 30px auto;
}

#history{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	margin-bottom: 50px;
}

#history a{
	color: #888;
	text-decoration: none;
	font-size: 0.7em;
	margin-right: 10px;
}

#history a:hover{
	text-decoration: underline;
}

#selectTeam{
	padding: 5px 10px;
	border:0px;
	font-size: 0.7em;
}


#detailDiv1{
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

#detailImage{
	width: 50%;
}

#detailImage .detailImg{
	width: 100%;
	float: left;
}

#detailDiv1 .views{
	font-size: 0.8em;
	height: 30px;
}

#detailDiv1 .title pre{
	font-size: 1.3em; font-weight: 700;
	height: 50px; line-height: 50px;
	border-bottom: 1px solid #ccc;
}

#detailDiv1 .tr{
	font-size: 1.0em; font-weight: 400;
	height: 40px; line-height: 40px;
	color: #999;
}

#detailDiv1 #price{
	margin-top: 30px;
}
#detailDiv1 .price{
	font-size: 1.0em; 
	color: #333;
	font-weight: 700;
}
#detailDiv1 #prdNo{
	margin-bottom: 30px;
}


#detailDiv1 .firsttd{
	margin-right: 50px;
}

#detailDiv1 .selectSize{
	height: 60px; line-height: 60px;
	border-top: 1px solid #ccc;
	border-bottom:1px solid #ccc;
}

#detailDiv1 .selectSize span{
	margin-right: 50px;
	font-size: 1.0em; 
	color: #999;
}

#detailDiv1 .selectSize #prdSizeSelect{
	width: 35%; height: 30px;
	padding: 0 10px; color: #999;
	border: 1px solid #ccc;
}

#detailDiv1 #detailBtnDiv{
	margin-top: 30px;
}

#detailDiv1 .orderDiv{
	height: 80px; 
	border-bottom: 1px solid #333;
	background: #333;
	color: #fff;
	padding-top: 20px;
}
#orderTable{
	width: 50%; height: 30px;
	border-collapse: collapse; border: 0;
	padding: 0;
}

#orderTable #up, #orderTable #down{
	margin: 0;
	width: 15px; height: 15px;
	background: #fff;
	font-size:0.5em; color: #333; border: 0px;
}

.buttonContainer {
    display: flex; /* Flexbox 활성화 */
    flex-direction: column; /* 세로 정렬 */
    align-items: left;
}


#detailDiv1 .orderDiv td:nth-child(1){
	width: 60%;
}
#detailDiv1 .orderDiv td:nth-child(2){
	width: 10%;
	text-align: right;
}
#detailDiv1 .orderDiv td:nth-child(3){
	width: 10%;
}
#detailDiv1 .orderDiv td:nth-child(4){
	width: 20%;
}
#detailDiv1 .orderSizeTitle{
	padding-left: 20px;
	font-size: 0.8em;
}

#detailDiv1 #qty{
	width: 30px; height: 30px;
	text-align: center;
	outline: none; border: 0px;
}

#detailDiv1 input::-webkit-outer-spin-button,
#detailDiv1 input::-webkit-inner-spin-button {
  -webkit-appearance:none;
  margin: 0;
}

/* Firefox */
#detailDiv1 input[type=number] {
  -moz-appearance:textfield;
}

#detailDiv1 #detailBtnDiv #cartBtn{
	width: 20%; height: 30px;
	background: #fff; color: #333;
	border: 1px solid #333;
	cursor: pointer;
}

#detailDiv1 #detailBtnDiv #cartBtn:hover{
	color: #ccc;
	border: 1px solid #ccc;
}

#detailDiv1 #detailBtnDiv #orderBtn{
	margin-left: 5px;
	width: 28%; height: 30px;
	background: #333; color: #fff;
	border: 1px solid #333;
	cursor: pointer;
}

#detailDiv1 #detailBtnDiv #orderBtn:hover{
	background: #555;
}

#detailDiv2{
	clear: both;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding-bottom: 200px;
}

#detailDiv2 ul{
	margin-top: 100px;
}
#detailDiv2 ul li{
	height: 40px; line-height: 40px;
	list-style-type: none;
	float: left;
	width: 20%; text-align: center;
	font-size: 0.8em;
	border: 1px solid #ccc; box-sizing: border-box;
	cursor: pointer;
}

#detailDiv2 ul li:hover{
	background: #333;
	color: #fff;
	border:0px;
}


