<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="user.dao.UserDAO">
 
 	<!-- 아이디 체크 -->
 	<select id="getExistId" parameterType="String" resultType="userDTO">
 		select * from KBOUser where userId=#{userId}
 	</select>
 	
 	<!-- 회원가입 -->
 	<insert id="join" parameterType="userDTO">
		insert into KBOUser (userId, name, pwd, email, tel, zipcode, addr1, addr2) 
		values(#{userId}, #{name}, #{pwd},
			#{email}, #{tel}, #{zipcode}, #{addr1}, #{addr2})
	</insert>
	
	<!-- 로그인 -->
	<select id="login" parameterType="java.util.Map" resultType="userDTO">
		select * from KBOUser where userId = #{userId} and pwd = #{pwd}
	</select>

	<!-- 정보 수정 - db에 저장-->
	<update id="update" parameterType="userDTO">
		update KBOUser set name = #{name}, pwd = #{pwd},
		email = #{email}, tel = #{tel}, zipcode=#{zipcode},
		addr1 = #{addr1}, addr2 = #{addr2} where userId = #{userId}	
	</update>
	
	<!-- 수정한 정보 db에서 가져오기-->
	<select id="updateuserId" parameterType="String" resultType="userDTO">
 		select * from KBOUser where userId=#{userId}
 	</select>
 	
 	<!-- 탈퇴 전 비밀번호 확인 -->
 	<select id="getExistPwd" parameterType="java.util.Map" resultType="userDTO">
 		select * from KBOUser where userId=#{userId} and pwd=#{pwd}
 	</select>
 	
 	<!-- 탈퇴 -->
 	<delete id="delete" parameterType="String">
 		delete from KBOUser where userId=#{userId}
 	</delete>
 	
	<select id="deleteuserPwd" parameterType="String" resultType="userDTO">
 		select * from KBOUser where pwd=#{pwd}
 	</select>
 	

	<!--  -->
	
	
	<!-- 카카오 로그인 -->
	<select id="findUser" parameterType="userDTO" resultType="userDTO">
		select * from KBOUser where userId = #{userId} and pwd=#{pwd}
	</select>
	
	<insert id="saveUser" parameterType="userDTO">
		insert into KBOUser (userId, name, pwd, email, tel, zipcode, addr1, addr2) 
		values(#{userId}, #{name}, #{pwd},
			#{email}, #{tel}, #{zipcode}, #{addr1}, #{addr2})
	</insert>
	
	
	
	
	<!-- 회원가입 목록 -->
	
	<select id="getAdminUserList">
		select * from KBOUser order by regDate desc
	</select>

 </mapper>